USE [master]
GO
/****** Object:  Database [oopezz]    Script Date: 10/06/2020 11:40:13 CH ******/
CREATE DATABASE [oopezz]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oopezz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oopezz]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 10/06/2020 11:40:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[ANSWER_TEXT] [nvarchar](max) NULL,
	[ANSWER_USER_FK] [int] NULL,
	[QUESTION_FK] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ANSWER] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT]    Script Date: 10/06/2020 11:40:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NULL,
	[CONTENT_TEXT] [nvarchar](max) NULL,
	[TYPE] [int] NULL,
	[GROUP_CONTENT_FK] [int] NOT NULL,
 CONSTRAINT [PK_CONTENT] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_CONTENT]    Script Date: 10/06/2020 11:40:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_CONTENT](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[LESSION_FK] [int] NOT NULL,
	[NAME] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_GROUP_CONTENT] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEYWORD]    Script Date: 10/06/2020 11:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORD](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[EN] [nvarchar](max) NULL,
	[VI] [nvarchar](max) NULL,
	[RELATE] [nvarchar](max) NULL,
	[ORDER] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_KEYWORD] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESSION]    Script Date: 10/06/2020 11:40:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESSION](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](max) NULL,
	[IMAGE] [varchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[MENU] [nvarchar](max) NULL,
 CONSTRAINT [PK_LESSION] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESSION_TAG]    Script Date: 10/06/2020 11:40:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESSION_TAG](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[LESSON_FK] [int] NOT NULL,
	[TAG_FK] [int] NULL,
 CONSTRAINT [PK_LESSION_TAG] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCESS]    Script Date: 10/06/2020 11:40:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESS](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[USER_FK] [int] NOT NULL,
	[LESSION_FK] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PROCESS] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 10/06/2020 11:40:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[QUESTION_TEXT] [nvarchar](max) NULL,
	[QUESTION_USER_FK] [int] NOT NULL,
	[BEST_ANSWER_FK] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_QUESTION] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 10/06/2020 11:40:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[TAG_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_TAG] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 10/06/2020 11:40:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[PK_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](max) NULL,
	[TOKEN] [varchar](max) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[PK_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANSWER] ON 

INSERT [dbo].[ANSWER] ([PK_SEQ], [ANSWER_TEXT], [ANSWER_USER_FK], [QUESTION_FK], [STATUS]) VALUES (1, N'76#77#78#79#80', 1, 1, 1)
INSERT [dbo].[ANSWER] ([PK_SEQ], [ANSWER_TEXT], [ANSWER_USER_FK], [QUESTION_FK], [STATUS]) VALUES (2, N'81#82#83#84#85#86#87#88', 1, 2, 1)
INSERT [dbo].[ANSWER] ([PK_SEQ], [ANSWER_TEXT], [ANSWER_USER_FK], [QUESTION_FK], [STATUS]) VALUES (3, N'89#90#91#92#93#94#95', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[ANSWER] OFF
SET IDENTITY_INSERT [dbo].[CONTENT] ON 

INSERT [dbo].[CONTENT] ([PK_SEQ], [STT], [CONTENT_TEXT], [TYPE], [GROUP_CONTENT_FK]) VALUES (1, 1, N'Đầu tiên chúng ta sẽ xem qua lịch sử của ngôn ngữ lập trình nhé', 1, 1)
INSERT [dbo].[CONTENT] ([PK_SEQ], [STT], [CONTENT_TEXT], [TYPE], [GROUP_CONTENT_FK]) VALUES (2, 2, N'Bạn xem hình dưới nè', 1, 1)
INSERT [dbo].[CONTENT] ([PK_SEQ], [STT], [CONTENT_TEXT], [TYPE], [GROUP_CONTENT_FK]) VALUES (3, 3, N'https://i.imgur.com/mPgdDxf.jpg', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[CONTENT] OFF
SET IDENTITY_INSERT [dbo].[GROUP_CONTENT] ON 

INSERT [dbo].[GROUP_CONTENT] ([PK_SEQ], [LESSION_FK], [NAME], [DESCRIPTION]) VALUES (1, 1, N'Lịch sử ngôn ngữ lập trình và C++', NULL)
INSERT [dbo].[GROUP_CONTENT] ([PK_SEQ], [LESSION_FK], [NAME], [DESCRIPTION]) VALUES (2, 1, N'Môi trường của C++', NULL)
INSERT [dbo].[GROUP_CONTENT] ([PK_SEQ], [LESSION_FK], [NAME], [DESCRIPTION]) VALUES (3, 1, N'Sự khác biệt của C và C++', NULL)
SET IDENTITY_INSERT [dbo].[GROUP_CONTENT] OFF
SET IDENTITY_INSERT [dbo].[KEYWORD] ON 

INSERT [dbo].[KEYWORD] ([PK_SEQ], [EN], [VI], [RELATE], [ORDER], [STATUS]) VALUES (1, N'default constructor', N'hàm khởi tạo mặc định', NULL, 5, 1)
INSERT [dbo].[KEYWORD] ([PK_SEQ], [EN], [VI], [RELATE], [ORDER], [STATUS]) VALUES (2, N'Inline', N'nội', NULL, 1, 1)
INSERT [dbo].[KEYWORD] ([PK_SEQ], [EN], [VI], [RELATE], [ORDER], [STATUS]) VALUES (3, N'Object', N'Đối tượng', NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[KEYWORD] OFF
SET IDENTITY_INSERT [dbo].[LESSION] ON 

INSERT [dbo].[LESSION] ([PK_SEQ], [NAME], [IMAGE], [DESCRIPTION], [MENU]) VALUES (1, N'CÁC ĐẶC ĐIỂM MỚI CỦA C++', N'https://i.imgur.com/2QYcnBV.jpg', N'Bài 1', NULL)
INSERT [dbo].[LESSION] ([PK_SEQ], [NAME], [IMAGE], [DESCRIPTION], [MENU]) VALUES (2, N'CÁC ĐẶC ĐIỂM MỚI CỦA C++ ( TT )', N'https://i.imgur.com/KE59s5r.jpg', N'Phần tiếp theo bài1 ~~', NULL)
INSERT [dbo].[LESSION] ([PK_SEQ], [NAME], [IMAGE], [DESCRIPTION], [MENU]) VALUES (3, N'TỔNG QUAN VỀ LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG', N'https://i.imgur.com/T4kTbAD.jpg', N'Bài 3', NULL)
SET IDENTITY_INSERT [dbo].[LESSION] OFF
SET IDENTITY_INSERT [dbo].[QUESTION] ON 

INSERT [dbo].[QUESTION] ([PK_SEQ], [QUESTION_TEXT], [QUESTION_USER_FK], [BEST_ANSWER_FK], [STATUS]) VALUES (1, N'Phân biệt Syntax-error, Runtime-error and Logical-error?', 1, 1, 1)
INSERT [dbo].[QUESTION] ([PK_SEQ], [QUESTION_TEXT], [QUESTION_USER_FK], [BEST_ANSWER_FK], [STATUS]) VALUES (2, N'Complier và Linker C/C++ là gì?', 1, 2, 1)
INSERT [dbo].[QUESTION] ([PK_SEQ], [QUESTION_TEXT], [QUESTION_USER_FK], [BEST_ANSWER_FK], [STATUS]) VALUES (3, N'Vòng lặp vô hạn là gì', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[QUESTION] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([PK_SEQ], [USERNAME], [TOKEN], [STATUS]) VALUES (1, N'CYLASION', N'0', 1)
INSERT [dbo].[USER] ([PK_SEQ], [USERNAME], [TOKEN], [STATUS]) VALUES (22, N'Anh Tuấn', N'2277943358975735', 1)
INSERT [dbo].[USER] ([PK_SEQ], [USERNAME], [TOKEN], [STATUS]) VALUES (23, N'Trường Phạm', N'2534257770012457', 1)
SET IDENTITY_INSERT [dbo].[USER] OFF
USE [master]
GO
